language: c
compiler:
  - clang
  - gcc

os:
  - linux
  - osx

env:
  - ARCH=x86_64

script:
  - make CC=$CC

addons:
  apt:
    packages:
        - gcc-multilib

  # blocklist
branches:
except:
    - naima 
    - debugyver

      # safelist
branches:
    only:
        - master
        - david
        - Jaahd

notifications:
    slack: dwarfoftherap:XvMGuDfbjzM8bvWTA1vEfPTK
